.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-y:scroll; 
   
    overflow-y: hidden;

}
.posters::-webkit-scrollbar{
    display: none;
}

.image{
    max-height: 250px;
    margin-right: 10px;
}
.smallimage{
    max-height: 180px;
    margin-right: 10px;
}